<app-menu></app-menu>
<div class="container-fluid d-flex align-items-center justify-content-center">

    <div class="row row-cols-1 text-center"  style="width: 70%; padding: 10px; margin-top: 3%;">

        <div *ngIf="eliminato.length !== 0">
            <p class="text-success mx-auto">{{eliminato}}</p>
        </div>


        <a  class="btn btn-primary" *ngIf="utente.privilegi === 1" (click)=addUser()> Aggiungi utente...</a>
        <a  class="btn btn-primary" *ngIf="utente.privilegi === 0" (click)=addPrenotazione()> Aggiungi prenotazione...</a>

        <table class="table table-hover" style="margin-top: 1%;" *ngIf="utente.privilegi === 1">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Utente</th>
                <th scope="col">Prenotazione</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>


                <tr *ngFor="let user of users">
                    <th scope="row"></th>
                    <td><strong>{{user.nome }} {{ user.cognome}} </strong> </td>
                    <td> <button type="button" class="btn btn-info" (click)="prenotazioniUtente(user.id)">Visualizza Prenotazione</button></td>
                    <td><button type="button" class="btn btn-warning" (click)="editUser(user)">Modifica</button></td>
                    <td><button class="btn btn-danger" (click)="deleteUser(user)">Elimina</button></td>

                </tr>

            </tbody>
        </table>


        
        
        <div class="col border border-info shadow-sm p-3 mb-5 bg-white" style="margin-top: 1%; width: 40%" *ngIf="utente.privilegi === 0">
            <div *ngIf="prenotazioni.length === 0">
                <p class="text-danger mx-auto">
                    Non ci sono ancora prenotazioni.
                </p>
            </div>
            <ul class="list-group list-group-flush" *ngFor="let prenot of prenotazioni">
                <li class="list-group-item">Prenotazione:<strong> {{utente.nome}}  {{utente.cognome}}</strong></li>
                <li class="list-group-item">Data:  <strong>{{prenot.inizio_prenotazione}} al {{prenot.fine_prenotazione}}</strong></li>
                <li class="list-group-item">Auto: <strong>{{prenot.mezzo_utilizzato}} </strong></li>
                <li class="list-group-item"><button type="button" class="btn btn-info"  (click)=modificaPrenotazione(prenot.id) >Modifica prenotazione</button></li>
                <li class="list-group-item"><button type="button" class="btn btn-danger" (click)=deletePrenotazione(prenot.id)>Elimina prenotazione </button> </li>
                <!--status prenotazione -->
                <div *ngIf="prenot.status_prenotazione === 0">
                    <p class="text-warning">Prenotazione non confermata</p>
                </div>
                <div *ngIf="prenot.status_prenotazione === 1">
                    <p class="text-success">Prenotazione confermata</p>
                </div>
            </ul>
        </div>

</div>
</div>

<script>
    function deleteUser(idUtente){
        var confirmation = confirm("Sei sicuro di voler cancellare l'utente?")
        if (confirmation){
            window.location.href='elimina?idUtente='+idUtente;
        }else{
        }
    }
</script>
