


<p class="text text-warning" *ngIf="eliminata.length >0">{{eliminata}}</p>
<table class="table table-hover table-borderless" style="margin-top: 1%; width: 90%;">
    <thead class="thead-dark">
    <th  *ngFor="let column of tableConfig.header" (click)="sort(column.key)">{{column.label}} <span>▼</span></th>
    </thead>
    <tbody>

        <tr *ngFor="let object of data | orderBy: key: reverse | paginate: {itemsPerPage: righe, currentPage:pagina}">
            <td scope="col" class="border-top border-dark" *ngFor="let column of tableConfig.header"><strong>{{object[column.key]}} </strong>
            
                <app-generic-button [buttonConfig]="buttonModify" *ngIf="column.key == 'modifica'" (onClick)="editUser(object)">{{buttonModify.text}}</app-generic-button>
                
                
                    <app-generic-button [buttonConfig]="buttonDelete" *ngIf="column.key == 'elimina'" (onClick)="deleteUser(object)">{{buttonDelete.text}}</app-generic-button>
                
                
                    <app-generic-button [buttonConfig]="buttonView" *ngIf="column.key == 'visualizza'" (onClick)="prenotazioniUtente(object.id)">{{buttonView.text}}</app-generic-button>

                    
                    <app-generic-button [buttonConfig]="buttonApprove" *ngIf="column.key == 'approva' && object.status_prenotazione === 0" (onClick)="prenotazioniUtente(object.id)">{{buttonView.text}}</app-generic-button>
                    
                    
            </td>
            
            
        </tr>

    </tbody>
</table>
<pagination-controls (pageChange)="pagina = $event"></pagination-controls>
