<app-menu></app-menu>

<div class="container-fluid" style="margin-top: 5%;">

    <div *ngIf="prenotazioni.length === 0">
        <p class="text-danger mx-auto">
            Non ci sono ancora prenotazioni.
        </p>
    </div>

    <div *ngIf="eliminata.length !== 0">
        <p class="text-danger mx-auto">
            {{eliminata}}
        </p>
    </div>


    <div class="row row-cols-1 justify-content-center" *ngIf="prenotazioni.length > 0"  style="width: auto; padding: 5px;">

        <h5 class="text-info p-3">{{utente_selezionato.nome}} {{utente_selezionato.cognome}}</h5>


        <app-generic-table [tableConfig]="myTable" [id_utente]="id_utente" [currentPage]="prenotazioni_utente"  [data] ="prenotazioni"></app-generic-table>


    </div>

</div>
