<app-menu></app-menu>

<div class="container-fluid" style="margin-top: 5%;">

    <div *ngIf="prenotazioni.length === 0">
        <p class="text-danger mx-auto">
            Non ci sono ancora prenotazioni.
        </p>
    </div>

    <div *ngIf="eliminata.length !== 0">
        <p class="text-danger mx-auto">
            {{eliminata}}
        </p>
    </div>


    <div class="row row-cols-1 justify-content-center" *ngIf="prenotazioni.length > 0"  style="width: auto; padding: 5px;">

        <h5 class="text-info p-3">{{utente_selezionato.nome}} {{utente_selezionato.cognome}}</h5>
        <app-generic-table [tableConfig]="myTable" [id_utente]="id_utente" [currentPage]="prenotazioni_utente" [data] ="prenotazioni"></app-generic-table>

        <!--

        <table class="table table-hover" style="margin-top: 1%;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Utente richiedente</th>
                <th scope="col">Mezzo</th>
                <th scope="col">Data inizio</th>
                <th scope="col">Data fine</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

                <tr *ngFor="let prenot of prenotazioni">
                    <th scope="row"></th>
                    <td><strong>{{utente_selezionato.nome}}   {{utente_selezionato.cognome}}</strong> </td>
                    <td><strong>{{prenot.mezzo_utilizzato}} </strong></td>
                    <td><strong>{{prenot.inizio_prenotazione}}</strong></td>
                    <td><strong>{{prenot.fine_prenotazione}}</strong></td>

                -->
                   <!--in base allo status prenotazione 
                        <div *ngIf="prenot.status_prenotazione === 0">
                        <td><button type="button" class="btn btn-success" (click)="approvaPrenotazione(prenot.id)">Approva</button></td>
                        <td><button type="button" (click)=eliminaPrenotazione(prenot.id) class="btn btn-danger">Elimina</button></td>
                        </div>
                    
                        
                        <td *ngIf="prenot.status_prenotazione === 1">
                            <p class="text-success">Prenotazione confermata.</p> 
                        </td>
                    
                </tr>
            </tbody>
        </table>

    -->

    </div>

</div>
